allow init sswap:process { transition siginh rlimitinh };
allow init kernel:system module_request;
allow init sswap:process noatsecure;
allow init wifi_efs_file:file getattr;
allow init kmsg_device:chr_file write;
allow init debugfs:dir mounton;
